@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

nav {
    background-color: black;
    color: whitesmoke;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    text-decoration: none;
    color: whitesmoke;
}