@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body, html {
    background-color: #ffffff;
    color: #ce2123;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

nav a {
    text-decoration: none;
    color: #ce2123;
    font-family: 'Raleway', sans-serif;
}

nav a:hover {
    text-decoration: underline;
    color: #ce2123;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/festival.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/festival.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.title {
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
}


#registration .container{
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

footer {
    background: #333;
}

.card {
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.9), 0 2px 10px 0 rgba(0,0,0,.9);
}

#about {
    margin-top: 3rem;
}

.btn-outline-info {
    color:  #16dcff!important;
    border-color: #16dcff;
}
.btn-outline-info:hover {
    color:  #ffffff!important;
}
.btn-info {
    background-color: #16dcff;
}